In [1]:
import pandas as pd
import matplotlib.pyplot as plt
dft = pd.read_csv('/mnt/c/Users/jrbra/OneDrive/Documents/Skool/csis3580/acs2015_census_tract_data.csv', encoding='latin-1')
dfc = pd.read_csv('/mnt/c/Users/jrbra/OneDrive/Documents/Skool/csis3580/acs2015_county_data.csv', encoding='latin-1')

In [2]:
dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Black.agg(['mean']).sort_index()

                     mean
State
Alabama         28.471642
Alaska           1.417241
Arizona          1.766667
Arkansas        16.069333
California       2.987931
Colorado         1.615625
Connecticut      6.400000
Delaware        19.800000
Florida         14.265672
Georgia         27.992453
Hawaii           0.860000
Idaho            0.334091
Illinois         5.154902
Indiana          2.619565
Iowa             1.210101
Kansas           1.747619
Kentucky         3.656667
Louisiana       31.725000
Maine            0.693750
Maryland        19.787500
Massachusetts    5.621429
Michigan         3.916867
Minnesota        1.435632
Mississippi     41.045122
Missouri         3.520000
Montana          0.248214
Nebraska         0.764516
Nevada           2.029412
New Hampshire    0.920000
New Jersey      11.414286
New Mexico       1.284848
New York         5.775806
North Carolina  20.234000
North Dakota     0.575472
Ohio             4.068182
Oklahoma         3.406494
Oregon           0.727778
Pennsylvania     4.420896
Rhode Island     3.000000
South Carolina  35.745652
South Dakota     0.563636
Tennessee        7.254737
Texas            6.256693
Utah             0.479310
Vermont          0.714286
Virginia        18.596241
Washington       1.233333
West Virginia    2.287273
Wisconsin        1.513889
Wyoming          0.556522

In [3]:
#Change Columns from % to Total
dfc.Hispanic = dfc.TotalPop * (dfc.Hispanic /100)
dfc.White = dfc.TotalPop * (dfc.White /100)
dfc.Black = dfc.TotalPop * (dfc.Black /100)
dfc.Native = dfc.TotalPop * (dfc.Native /100)
dfc.Asian = dfc.TotalPop * (dfc.Asian /100)
dfc.Pacific = dfc.TotalPop * (dfc.Pacific /100)

In [4]:
# aggregate state totals
BlackPBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Black.agg(['sum']).sort_index()
HispanicPBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Hispanic.agg(['sum']).sort_index()
WhitePBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').White.agg(['sum']).sort_index()
NativePBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Native.agg(['sum']).sort_index()
AsianPBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Asian.agg(['sum']).sort_index()
PacificPBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').Pacific.agg(['sum']).sort_index()

In [5]:
# Create dataframe that is just State and TotalPop
PBS = dfc[(dfc.State != 'Puerto Rico') & (dfc.State != 'District of Columbia')].groupby('State').TotalPop.agg(['sum']).sort_index()
PBS

                     sum
State
Alabama          4830620
Alaska            733375
Arizona          6641928
Arkansas         2958208
California      38421464
Colorado         5278906
Connecticut      3593222
Delaware          926454
Florida         19645772
Georgia         10006693
Hawaii           1406299
Idaho            1616547
Illinois        12873761
Indiana          6568645
Iowa             3093526
Kansas           2892987
Kentucky         4397353
Louisiana        4625253
Maine            1329100
Maryland         5930538
Massachusetts    6705586
Michigan         9900571
Minnesota        5419171
Mississippi      2988081
Missouri         6045448
Montana          1014699
Nebraska         1869365
Nevada           2798636
New Hampshire    1324201
New Jersey       8904413
New Mexico       2084117
New York        19673174
North Carolina   9845333
North Dakota      721640
Ohio            11575977
Oklahoma         3849733
Oregon           3939233
Pennsylvania    12779559
Rhode Island     1053661
South Carolina   4777576
South Dakota      843190
Tennessee        6499615
Texas           26538614
Utah             2903379
Vermont           626604
Virginia         8256630
Washington       6985464
West Virginia    1851420
Wisconsin        5742117
Wyoming           579679

In [6]:
# Merge Datasets and assign good names to columns
PBSDiversity = pd.merge(PBS, BlackPBS, on='State')
PBSDiversity = pd.merge(PBSDiversity, HispanicPBS, on='State')
PBSDiversity = PBSDiversity.rename(columns={'sum_x':'TotalPop','sum_y':'BlackPop','sum':'HispanicPop'})
PBSDiversity = pd.merge(PBSDiversity, WhitePBS, on='State')
PBSDiversity = pd.merge(PBSDiversity, NativePBS, on='State')
PBSDiversity = pd.merge(PBSDiversity, AsianPBS, on='State')
PBSDiversity = PBSDiversity.rename(columns={'sum_x':'WhitePop','sum_y':'NativePop','sum':'AsianPop'})
PBSDiversity = pd.merge(PBSDiversity, PacificPBS, on='State')
PBSDiversity = PBSDiversity.rename(columns={'sum':'PacificPop'})

In [7]:
# PBSDiversity

In [8]:
# Create Columns that turn population totals into percents
PBSDiversity['BlackPct'] = PBSDiversity.BlackPop / PBSDiversity.TotalPop
PBSDiversity['HispanicPct'] = PBSDiversity.HispanicPop / PBSDiversity.TotalPop
PBSDiversity['WhitePct'] = PBSDiversity.WhitePop / PBSDiversity.TotalPop
PBSDiversity['NativePct'] = PBSDiversity.NativePop / PBSDiversity.TotalPop
PBSDiversity['AsianPct'] = PBSDiversity.AsianPop / PBSDiversity.TotalPop
PBSDiversity['PacificPct'] = PBSDiversity.PacificPop / PBSDiversity.TotalPop

In [9]:
PBSDiversity[PBSDiversity.BlackPct == PBSDiversity.BlackPct.max()]

,TotalPop,BlackPop,HispanicPop,WhitePop,NativePop,AsianPop,PacificPop,BlackPct,HispanicPct,WhitePct,NativePct,AsianPct,PacificPct
State,,,,,,,,,,,,,
Mississippi,2988081,1112553.654,86617.264,1714455.023,12020.468,28655.449,187.355,0.37233,0.028988,0.573765,0.004023,0.00959,0.000063

In [10]:
PBSDiversity.HispanicPct.sort_values(ascending=False)

State
New Mexico        0.473539
Texas             0.384151
California        0.383810
Arizona           0.303385
Nevada            0.275121
Florida           0.237310
Colorado          0.210759
New Jersey        0.189590
New York          0.183887
Illinois          0.164738
Connecticut       0.146736
Rhode Island      0.136286
Utah              0.134154
Oregon            0.123434
Washington        0.119714
Idaho             0.118391
Kansas            0.111736
Massachusetts     0.105461
Nebraska          0.099574
Hawaii            0.098557
Oklahoma          0.096655
Wyoming           0.096215
Georgia           0.091394
Maryland          0.089971
North Carolina    0.088327
Delaware          0.087060
Virginia          0.085916
Arkansas          0.068708
Alaska            0.065276
Indiana           0.064105
Pennsylvania      0.063793
Wisconsin         0.063477
Iowa              0.054299
South Carolina    0.053269
Minnesota         0.049891
Tennessee         0.049272
Louisiana         0.047311
Michigan          0.047030
Alabama           0.039993
Missouri          0.038616
Ohio              0.033741
Montana           0.033183
South Dakota      0.033126
Kentucky          0.032728
New Hampshire     0.032022
Mississippi       0.028988
North Dakota      0.028452
Vermont           0.017078
Maine             0.014656
West Virginia     0.013687
Name: HispanicPct, dtype: float64

In [11]:
PBSDiversity.WhitePct.sort_values(ascending=False)

State
Maine             0.938671
Vermont           0.936055
West Virginia     0.925449
New Hampshire     0.914218
Iowa              0.874027
North Dakota      0.870437
Montana           0.869849
Kentucky          0.855511
Wyoming           0.844748
South Dakota      0.832161
Idaho             0.830443
Wisconsin         0.823768
Minnesota         0.817050
Nebraska          0.807691
Indiana           0.805111
Ohio              0.802616
Missouri          0.802316
Utah              0.794807
Pennsylvania      0.780861
Oregon            0.772484
Kansas            0.770439
Michigan          0.758830
Tennessee         0.747258
Rhode Island      0.745471
Massachusetts     0.742873
Arkansas          0.735963
Washington        0.707650
Connecticut       0.692295
Colorado          0.690654
Oklahoma          0.673075
Alabama           0.663411
North Carolina    0.642359
Delaware          0.638699
South Carolina    0.638627
Virginia          0.634387
Illinois          0.624770
Alaska            0.623764
Louisiana         0.594739
Mississippi       0.573765
New Jersey        0.572052
New York          0.567731
Arizona           0.564887
Florida           0.560596
Georgia           0.545674
Maryland          0.530258
Nevada            0.519920
Texas             0.438467
New Mexico        0.392119
California        0.387250
Hawaii            0.229262
Name: WhitePct, dtype: float64

In [12]:
PBSDiversity.NativePct.sort_values(ascending=False)

State
Alaska            0.134163
New Mexico        0.084937
South Dakota      0.082925
Oklahoma          0.069399
Montana           0.062542
North Dakota      0.052136
Arizona           0.040025
Wyoming           0.019035
Washington        0.011676
North Carolina    0.011017
Idaho             0.010806
Minnesota         0.009554
Utah              0.009326
Oregon            0.009234
Nevada            0.008650
Wisconsin         0.008040
Kansas            0.007078
Nebraska          0.006930
Maine             0.005654
Arkansas          0.005601
Colorado          0.005473
Louisiana         0.005392
Michigan          0.004824
Alabama           0.004562
Mississippi       0.004023
California        0.003766
Missouri          0.003725
Rhode Island      0.003667
Vermont           0.003115
Delaware          0.002956
South Carolina    0.002942
Iowa              0.002742
Texas             0.002574
New York          0.002243
Tennessee         0.002160
Florida           0.002103
Virginia          0.002022
Maryland          0.001895
Georgia           0.001874
Indiana           0.001838
Kentucky          0.001641
New Hampshire     0.001624
Ohio              0.001468
West Virginia     0.001400
Hawaii            0.001322
Massachusetts     0.001294
Pennsylvania      0.001186
Connecticut       0.001153
Illinois          0.001137
New Jersey        0.000949
Name: NativePct, dtype: float64

In [13]:
PBSDiversity.AsianPct.sort_values(ascending=False)

State
Hawaii            0.367475
California        0.135151
New Jersey        0.089956
New York          0.079215
Washington        0.075976
Nevada            0.075297
Maryland          0.059748
Massachusetts     0.059621
Virginia          0.059214
Alaska            0.057730
Illinois          0.049734
Minnesota         0.044152
Texas             0.041767
Connecticut       0.041549
Oregon            0.039266
Delaware          0.035967
Georgia           0.035814
Rhode Island      0.031931
Pennsylvania      0.030480
Arizona           0.029180
Colorado          0.028577
Michigan          0.027168
Kansas            0.025795
Florida           0.025438
Wisconsin         0.024981
North Carolina    0.024625
New Hampshire     0.023433
Utah              0.021661
Iowa              0.020258
Nebraska          0.020134
Oklahoma          0.018960
Ohio              0.018614
Indiana           0.018389
Missouri          0.017512
Louisiana         0.016720
Tennessee         0.015652
South Carolina    0.013914
Vermont           0.013815
Arkansas          0.013520
New Mexico        0.012994
Idaho             0.012858
Kentucky          0.012448
Alabama           0.012287
North Dakota      0.012118
South Dakota      0.012097
Maine             0.011006
Mississippi       0.009590
Wyoming           0.008933
West Virginia     0.007193
Montana           0.006721
Name: AsianPct, dtype: float64

In [14]:
PBSDiversity.PacificPct.sort_values(ascending=False)

State
Hawaii            0.090812
Alaska            0.011793
Utah              0.008847
Nevada            0.006306
Washington        0.006066
Oregon            0.003648
California        0.003469
Arkansas          0.002243
Arizona           0.001745
Oklahoma          0.001280
Idaho             0.001180
Colorado          0.001156
Missouri          0.000841
Montana           0.000747
Texas             0.000737
Wyoming           0.000700
Virginia          0.000676
Rhode Island      0.000598
Iowa              0.000562
South Carolina    0.000537
Nebraska          0.000515
New Mexico        0.000482
North Carolina    0.000434
Florida           0.000393
Kentucky          0.000384
Tennessee         0.000367
Kansas            0.000361
North Dakota      0.000359
South Dakota      0.000350
Georgia           0.000240
Louisiana         0.000237
Alabama           0.000227
Vermont           0.000219
West Virginia     0.000198
Indiana           0.000188
Maryland          0.000188
Minnesota         0.000104
Ohio              0.000086
Massachusetts     0.000082
Wisconsin         0.000071
New Hampshire     0.000067
Mississippi       0.000063
Michigan          0.000059
New York          0.000050
New Jersey        0.000028
Pennsylvania      0.000027
Maine             0.000023
Illinois          0.000022
Delaware          0.000000
Connecticut       0.000000
Name: PacificPct, dtype: float64

## Part 2: Report which state has the following (2 answers):

    Highest Unemployment (percentage - based on the 'Unemployment' column)
    Lowest Unemployment (percentage - based on the 'Unemployment' column)

In [15]:
dfc.columns

Index(['CensusId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income',
       'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [16]:
myColumns = ['State','TotalPop','Unemployment']
dfU = dfc.loc[:, myColumns]
dfU.shape

(3220, 3)

In [17]:
dfU

            State  TotalPop  Unemployment
0         Alabama     55221           7.6
1         Alabama    195121           7.5
2         Alabama     26932          17.6
3         Alabama     22604           8.3
4         Alabama     57710           7.7
...           ...       ...           ...
3215  Puerto Rico     56858          15.2
3216  Puerto Rico      9130          12.2
3217  Puerto Rico     24685          25.9
3218  Puerto Rico     36279          24.3
3219  Puerto Rico     39474          27.1

[3220 rows x 3 columns]

In [18]:
dfU['UnemployedPop'] = dfU['TotalPop'] * (dfU.Unemployment / 100)

In [19]:
dfU

            State  TotalPop  Unemployment  UnemployedPop
0         Alabama     55221           7.6       4196.796
1         Alabama    195121           7.5      14634.075
2         Alabama     26932          17.6       4740.032
3         Alabama     22604           8.3       1876.132
4         Alabama     57710           7.7       4443.670
...           ...       ...           ...            ...
3215  Puerto Rico     56858          15.2       8642.416
3216  Puerto Rico      9130          12.2       1113.860
3217  Puerto Rico     24685          25.9       6393.415
3218  Puerto Rico     36279          24.3       8815.797
3219  Puerto Rico     39474          27.1      10697.454

[3220 rows x 4 columns]

In [20]:
UBS = dfU.groupby('State').UnemployedPop.agg(['sum']).sort_index()
UBS = pd.merge(PBS, UBS, on='State')

In [21]:
UBS = UBS.rename(columns={'sum_x':'TotalPop','sum_y':'UnemployedPop'})
UBS['UnemployedPct'] = UBS.UnemployedPop/UBS.TotalPop
UBS.UnemployedPct.sort_values()

State
North Dakota      0.029147
Nebraska          0.046989
South Dakota      0.048127
Wyoming           0.048760
Iowa              0.049541
Vermont           0.055050
Minnesota         0.056112
New Hampshire     0.057519
Utah              0.057873
Kansas            0.059811
Hawaii            0.060789
Montana           0.063388
Wisconsin         0.063564
Oklahoma          0.063963
Virginia          0.065965
Maine             0.069083
Colorado          0.070320
Texas             0.070817
Idaho             0.072305
Maryland          0.074839
Missouri          0.075382
Massachusetts     0.076190
Delaware          0.077172
Arkansas          0.078147
West Virginia     0.078721
Indiana           0.078724
Washington        0.079386
Pennsylvania      0.079697
Ohio              0.081949
Louisiana         0.082000
New York          0.082930
Alaska            0.084464
Tennessee         0.085509
Rhode Island      0.085946
Kentucky          0.086488
Connecticut       0.088220
New Jersey        0.088287
Illinois          0.090675
Arizona           0.090927
New Mexico        0.093149
Alabama           0.094081
Oregon            0.094301
North Carolina    0.095249
South Carolina    0.095973
Georgia           0.096954
Florida           0.097352
Michigan          0.100078
California        0.100091
Nevada            0.104957
Mississippi       0.105085
Name: UnemployedPct, dtype: float64

In [27]:
# UBS[UBS.UnemployedPct == UBS.UnemployedPct.max()]
UBS.UnemployedPct.idxmax()

'Mississippi'

In [28]:
#UBS[UBS.UnemployedPct == UBS.UnemployedPct.min()]
UBS.UnemployedPct.idxmin()

'North Dakota'

In [24]:
dfc.SelfEmployed.describe()

count    3220.000000
mean        7.931801
std         3.914974
min         0.000000
25%         5.400000
50%         6.900000
75%         9.400000
max        36.600000
Name: SelfEmployed, dtype: float64

In [29]:
pd.__version__

'1.2.1'

In [47]:
d = {'val':[123,6,8]}
df = pd.DataFrame(d)
df['new'] = 5
df

   val  new
0  123    5
1    6    5
2    8    5

In [48]:
df['banana'] = df.apply(lambda x: x['new']+100, axis=1)

In [49]:
df

   val  new  banana
0  123    5     105
1    6    5     105
2    8    5     105